<nav class="min-w-56 max-w-64 bg-gray-900 h-full overflow-y-scroll flex flex-col justify-between p-2 gap-10">
    <a href="/" class="flex flex-row gap-3 align-middle items-center font-semibold p-3 text-white">
        <Heroicon Name="@HeroiconName.Bolt" Type="@HeroiconType.Outline" class="w-8 h-8"/>
        <h1 class="text-3xl">Klean</h1>
    </a>

    <div class="flex flex-col flex-grow gap-3">
        <NavLink href="/dashboard" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black active:text-black hover:bg-gray-200 active:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.Home" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Dashboard
        </NavLink>

        <NavLink href="/team" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black active:text-black hover:bg-gray-200 active:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.UserGroup" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Team
        </NavLink>

        <NavLink href="/projects" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black active:text-black hover:bg-gray-200 active:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.Folder" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Projects
        </NavLink>

        <NavLink href="/calendar" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black active:text-black hover:bg-gray-200 active:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.Calendar" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Calendar
        </NavLink>

        <NavLink href="/documents" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black active:text-black hover:bg-gray-200 active:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.Document" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Documents
        </NavLink>

        <NavLink href="/reports" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black active:text-black hover:bg-gray-200 active:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.ChartPie" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Reports
        </NavLink>
    </div>

    <NavLink href="/settings" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black active:text-black hover:bg-gray-200 active:bg-gray-200 p-3">
        <Heroicon Name="@HeroiconName.Cog6Tooth" Type="@HeroiconType.Outline" class="w-6 h-6"/>
        Settings
    </NavLink>
</nav>