<nav class="flex flex-col w-full sm:min-w-48 sm:max-w-56 h-auto sm:h-full bg-gray-900 sm:overflow-y-scroll justify-between p-2 gap-3 sm:gap-10 border-b-2 border-gray-700">
    <div class="flex flex-row sm:flex-col gap-3 text-white font-semibold pt-2">
        <a href="/" class="hidden sm:flex gap-2 mb-3">
            <Heroicon Name="@HeroiconName.ServerStack" Type="@HeroiconType.Outline" class="w-8 h-8"/>
            <h1 class="text-3xl">Klean</h1>
        </a>

        <div class="flex items-center flex-grow sm:hidden">
            <button @onclick="@(() => Expanded = !Expanded)">
                <Heroicon Name="@HeroiconName.Bars3" type="@HeroiconType.Outline" class="w-8 h-8"/>
            </button>
        </div>

        <div class="flex flex-row align-middle">
            <label class="relative block">
                <span class="sr-only">Search for actions</span>

                <span class="absolute inset-y-0 left-0 flex items-center pl-2 text-black">
                    <Heroicon Name="@HeroiconName.MagnifyingGlass" Type="@HeroiconType.Outline" class="w-6 h-6"/>
                </span>

                <input name="search"
                       type="text"
                       placeholder="Search for anything..."
                       class="block bg-white w-full border border-slate-300
                              rounded-md py-2 pl-9 pr-3 shadow-sm text-black
                              focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1
                              sm:text-sm placeholder:italic placeholder:text-slate-400"/>
            </label>
        </div>
    </div>

    <div class="@(Expanded ? "flex" : "hidden") sm:flex flex-col flex-grow gap-3 pb-2 sm:pb-0">
        <NavLink ActiveClass="!text-black !bg-gray-200" href="/counter" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black bg-gray-800 hover:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.PlusCircle" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Counter
        </NavLink>

        <NavLink ActiveClass="!text-black !bg-gray-200" href="/users" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black bg-gray-800 hover:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.Users" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Users
        </NavLink>

        <NavLink ActiveClass="!text-black !bg-gray-200" href="/items" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black bg-gray-800 hover:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.Briefcase" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Items
        </NavLink>

        <NavLink ActiveClass="!text-black !bg-gray-200" href="/shop" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black bg-gray-800 hover:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.ShoppingCart" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Shop
        </NavLink>

        <NavLink ActiveClass="!text-black !bg-gray-200" href="/games" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black bg-gray-800 hover:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.RocketLaunch" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Games
        </NavLink>

        <div class="flex flex-row gap-3 font-semibold mt-auto">
            <NavLink ActiveClass="!text-black !bg-gray-200" href="/settings" class="bg-gray-800 hover:bg-gray-200 text-white hover:text-black rounded-md p-3">
                <Heroicon Name="@HeroiconName.Cog6Tooth" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            </NavLink>

            <ThemeToggle/>
        </div>
    </div>
</nav>


@code {

    private bool Expanded { get; set; }

}