<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>

        @* <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"> *@
        @*     <Authorizing> *@
        @*         <div class="h-full flex flex-col justify-center text-center"> *@
        @*             <div> *@
        @*                 <div class="text-cyan-500" role="status"></div> *@
        @*                 <span class="ms-3 text-xl">Loading...</span> *@
        @*             </div> *@
        @*         </div> *@
        @*     </Authorizing> *@
        @* *@
        @*     <NotAuthorized> *@
        @*         <RedirectToLogin /> *@
        @*     </NotAuthorized> *@
        @* </AuthorizeRouteView> *@
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>