<nav class="flex flex-col w-full sm:min-w-48 sm:max-w-56 h-auto sm:h-full bg-gray-900 sm:overflow-y-scroll
            justify-between p-2 gap-3  border-b-2 border-gray-700 scrollbar-none">
    <div class="flex flex-row sm:flex-col gap-3 text-white font-semibold pt-2">
        <a href="" class="hidden sm:flex gap-2 mb-3">
            <Heroicon Name="@HeroiconName.ServerStack" Type="@HeroiconType.Outline" class="w-8 h-8"/>
            <h1 class="text-3xl">Klean</h1>
        </a>

        <div class="flex items-center flex-grow sm:hidden">
            <button @onclick="@(() => Expanded = !Expanded)">
                <Heroicon Name="@HeroiconName.Bars3" type="@HeroiconType.Outline" class="w-8 h-8"/>
            </button>
        </div>
    </div>

    <div class="@(Expanded ? "flex" : "hidden") sm:flex flex-col flex-grow gap-3 pb-2 sm:pb-0">
        <NavLink ActiveClass="!text-black !bg-gray-200" href="counter" class="flex flex-row gap-3 font-semibold rounded-md text-gray-300 hover:text-black bg-gray-800 hover:bg-gray-200 p-3">
            <Heroicon Name="@HeroiconName.PlusCircle" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            Counter
        </NavLink>

        <div class="flex flex-row gap-3 justify-between font-semibold mt-auto">
            <NavLink ActiveClass="!text-black !bg-gray-200" href="settings" class="bg-gray-800 hover:bg-gray-200 text-white hover:text-black rounded-md p-3">
                <Heroicon Name="@HeroiconName.Cog6Tooth" Type="@HeroiconType.Outline" class="w-6 h-6"/>
            </NavLink>

            <ThemeToggle/>
        </div>
    </div>
</nav>


@code
{
    private bool Expanded { get; set; }
}