@using Application.Common
@using Application.Cqrs.Users
@using Client.Components.Ui.Card
@using Client.Components.Ui.Avatar
@using Domain.Aggregates
@using Domain.Common
@using Domain.ValueObjects

<Card>
    <Header>
        <Title>Share this document</Title>
        <Description>Anyone with the link can view this document.</Description>
    </Header>
    <Content>
        <div class="flex space-x-2">
            <FormInput Value="https://example.com/link/to/document" readonly />
            <CopyButton Variant="secondary" Class="shrink-0" Content="https://example.com/link/to/document">
                Copy Link
            </CopyButton>
        </div>
        <Separator class="my-4" />
        <div class="space-y-4">
            <h4 class="text-sm font-medium">People with access</h4>
            <div class="grid gap-6">
                @foreach (var user in Users)
                {
                    <div class="flex items-center justify-between space-x-4">
                        <div class="flex items-center space-x-4">
                            <Avatar>
                                <AvatarImage Src="@user.AvatarUrl" Alt="@($"{user.FullName}'s avatar")" />
                                <AvatarFallback>@user.FullName.Initials()</AvatarFallback>
                            </Avatar>
                            <div>
                                <p class="text-sm font-medium leading-none">
                                    @user.FullName
                                </p>
                                <p class="text-muted-foreground text-sm">
                                    @user.Email
                                </p>
                            </div>
                        </div>
                        <select id="permissions" class="@(Button.GetButtonClass(Tw, "outline", @class: "outline-none appearance-none"))">
                            @foreach (var permission in Permissions)
                            {
                                <option value="@permission.Key">
                                    @permission.Value
                                </option>
                            }
                        </select>
                    </div>
                }
            </div>
        </div>
    </Content>
</Card>

@code {
    public static readonly Dictionary<string, string> Permissions = new()
    {
        ["view"] = "Can view",
        ["edit"] = "Can edit",
    };

    public static readonly UserDto[] Users =
    [
        new UserDto(UserId.New(), "Olivia Martin", "m@example.com", ClaimsPrincipalExt.GetDefaultAvatar("olivia"), Role.User, ""),
        new UserDto(UserId.New(), "Isabella Nguyen", "b@example.com", ClaimsPrincipalExt.GetDefaultAvatar("isabella"), Role.Staff, ""),
        new UserDto(UserId.New(), "Sofia Davis", "p@example.com", ClaimsPrincipalExt.GetDefaultAvatar("sofia"), Role.Admin, ""),
    ];
}
