@using Client.Components.Ui.Card

<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
    @foreach (var (name, icon, amount, annualChange) in Cards)
    {
        <Card>
            <Header Class="flex flex-row items-center justify-between space-y-0 pb-2">
                <Title Class="text-sm font-medium">@name</Title>
                <Blazicon Svg="@icon" class="text-muted-foreground h-4 w-4" />
            </Header>
            <Content>
                <div class="text-2xl font-bold">@(amount.ToString("C"))</div>
                <p class="text-muted-foreground text-xs">
                    @(annualChange > 0 ? "+" : "-")
                    @(annualChange)% from last month
                </p>
            </Content>
        </Card>
    }
</div>

<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-7">
    <Card class="col-span-4">
        <Header>
            <Title>Overview</Title>
        </Header>
        <Content>
            Bar Chart
        </Content>
    </Card>
    <Card class="col-span-4 lg:col-span-3">
        <Header>
            <Title>Recent Sales</Title>
            <Description>You made 265 sales this month.</Description>
        </Header>
        <Content>
            <RecentSales />
        </Content>
    </Card>
</div>

@code {
    public static readonly (string Name, SvgIcon Icon, decimal Amount, float AnnualChange)[] Cards =
    [
        ("Total Revenue", DollarSign, 45231.89m, 20.1f),
        ("Subscriptions", Users, 2350, 180.1f),
        ("Sales", CreditCard, 12234, 19f),
        ("Active Now", Activity, 573, 201f),
    ];
}
