@using Domain.Dto

<div class="flex flex-col w-72 border-gray-300 bg-white text-black shadow-md shadow-gray-300 rounded-md">
    <div class="flex flex-row gap-5 p-4">
        <div class="flex flex-col flex-grow justify-between items-start">
            <a href="/user/@Item.Id" class="text-blue-900 underline text-xl font-extrabold capitalize">
                @Item.ItemType.Name
            </a>

            <span class="text-md text-gray-500">
                $@Item.ItemType.Price.ToString("N2")
            </span>
        </div>

        <div class="w-12 h-12">
            <img src="@Item.ItemType.DisplayUrl" alt class="rounded-md"/>
        </div>
    </div>

    <div class="flex flex-row border-t-2 justify-between border-gray-300">
        <button class="flex flex-row justify-center text-green-700 align-middle gap-3 w-full h-full p-2">
            <Heroicon Name="@HeroiconName.ChevronDown" Type="HeroiconType.Outline" class="w-6 h-6"/>
            <span class="font-extrabold">
                @Item.ItemType.MinRarity.ToString("N4")
            </span>
        </button>

        <div class="h-full border border-gray-300"></div>

        <button class="flex flex-row justify-center text-blue-700 align-middle gap-3 w-full h-full p-2">
            <Heroicon Name="@HeroiconName.ChevronUp" Type="HeroiconType.Outline" class="w-6 h-6"/>
            <span class="font-extrabold">
                @Item.ItemType.MaxRarity.ToString("N4")
            </span>
        </button>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public ItemDto Item { get; set; } = default!;

}