@using Domain.Dto

<div class="flex flex-col border-gray-300 bg-white text-black shadow-md shadow-gray-300 rounded-md">
    <div class="flex flex-row gap-16 p-4">
        <div class="flex flex-col flex-grow justify-between items-start">
            <a href="/user/@UserDto.Id" class="text-blue-900 underline text-xl font-extrabold capitalize">
                @UserDto.Username
            </a>

            <span class="text-md text-gray-500">
                @UserDto.Email
            </span>
        </div>

        <div class="w-16 h-16">
            <img src="@UserDto.ProfilePictureUrl" alt class="rounded-full"/>
        </div>
    </div>

    <div class="flex flex-row border-t-2 justify-between border-gray-300">
        <button class="flex flex-row justify-start align-middle gap-3 w-full h-full p-2">
            <Heroicon Name="@HeroiconName.CurrencyDollar" Type="HeroiconType.Outline" class="w-6 h-6"/>
            <span class="text-green-700 font-extrabold">
                @UserDto.Balance.ToString("N2")
            </span>
        </button>

        <div class="h-full border border-gray-300"></div>

        <button class="flex flex-row justify-start align-middle gap-3 w-full h-full p-2">
            <Heroicon Name="@HeroiconName.Briefcase" Type="HeroiconType.Outline" class="w-6 h-6"/>
            <span class="text-blue-700 font-extrabold">
                @UserDto.Inventory.Count().ToString("N0")
            </span>
        </button>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public UserDto UserDto { get; set; } = default!;

}