@using Application.Common
@using Domain.Common
@using Presentation.Components.Ui.Avatar

<div class="space-y-8">
    @foreach (var (name, email, avatarUrl, amount) in Sales)
    {
        <div class="flex items-center">
            <Avatar Class="size-9">
                <AvatarImage Src="@avatarUrl" Alt="Avatar" />
                <AvatarFallback>@(name.Initials())</AvatarFallback>
            </Avatar>

            <div class="ml-4 space-y-1">
                <p class="text-sm font-medium leading-none">@name</p>
                <p class="text-muted-foreground text-sm">@email</p>
            </div>
            <div class="ml-auto font-medium">
                @(amount > 0 ? "+" : "-")
                @(amount.ToString("C"))
            </div>
        </div>
    }
</div>

@code {
    private static readonly (string Name, string Email, string AvatarUrl, decimal Amount)[] Sales =
    [
        ("Olivia Martin", "o@example.com", ClaimsPrincipalExt.GetDefaultAvatar("olivia"), 1999.00m),
        ("Jackson Lee", "j@example.com", ClaimsPrincipalExt.GetDefaultAvatar("jackson"), 39.00m),
        ("Isabella Nguyen", "i@example.com", ClaimsPrincipalExt.GetDefaultAvatar("isabella"), 299.00m),
        ("William Kim", "w@example.com", ClaimsPrincipalExt.GetDefaultAvatar("william"), 99.00m),
        ("Sofia Davis", "s@example.com", ClaimsPrincipalExt.GetDefaultAvatar("sofia"), 39.00m),
    ];
}
