@page "/auth/reset_password"
@using Application.Cqrs.Users.Commands
@using Presentation.Components.Ui.Form

<PageTitle>Reset password</PageTitle>
<AuthHeader Title="Reset password"/>

<AppForm @bind-Model="Command" OnValidSubmit="OnValidSubmitAsync" method="POST" novalidate class="grid gap-6">
    <FormField>
        <FormLabel for="new-password">New password</FormLabel>
        <FormInputText id="new-password"
                       @bind-Value="@Command.NewPassword"
                       type="@(ShowPassword ? "text" : "password")"
                       required
                       autocomplete="new-password"
                       disabled="@IsLoading"/>

        <FormInvalidFeedback For="@(() => Command.NewPassword)"/>
    </FormField>

    <FormField>
        <FormLabel for="confirm-new-password">Confirm new password</FormLabel>
        <FormInputText id="confirm-new-password"
                       @bind-Value="@Command.ConfirmNewPassword"
                       type="@(ShowPassword ? "text" : "password")"
                       required
                       autocomplete="new-password"
                       disabled="@IsLoading"/>

        <FormInvalidFeedback For="@(() => Command.ConfirmNewPassword)"/>
    </FormField>

    <FormField>
        <div class="flex flex-row items-center gap-2">
            <FormInputCheckbox id="show" @bind-Value="ShowPassword"/>
            <FormLabel for="show">
                Show passwords
            </FormLabel>
        </div>
    </FormField>

    <Button type="submit" disabled="@IsLoading">
        @if (IsLoading)
        {
            <Blazicon Svg="Icons.Loader" class="mr-2 size-4 animate-spin"/>
        }
        Reset
    </Button>
</AppForm>

@code {
    [SupplyParameterFromQuery]
    private string? Token { get; set; }

    private ResetPasswordCommand Command { get; set; } = new();
    public bool ShowPassword { get; set; }
    private bool IsLoading { get; set; }

    protected override void OnInitialized()
    {
        if (string.IsNullOrWhiteSpace(Token))
        {
            NavigationManager.NavigateTo("auth/invalid_token");
            return;
        }

        Command.Token = Token;
    }

    private async Task OnValidSubmitAsync()
    {
        IsLoading = true;
        await Mediator.Send(Command);
        IsLoading = false;

        Toast.ShowSuccess("You successfully reset your password");
        await Task.Delay(2000);
        NavigationManager.NavigateTo("auth/login");
    }
}